extends base
include _hotelBookingCard

mixin reviews(testimony)
    .col-md-4.my-5
      .text-center
        h4.my-4=testimony.user.name
        p.my-4=testimony.review
        each star in [1, 2, 3, 4, 5]
          i.fa.fa-star-o(aria-hidden='true' ,class=`testimonial-${testimony.rating >= star ? 'active' : 'inactive'}`)
        
block content
  .main-content
    .row
      .col-md-8.my-2
        h1.text-primary=hotel.name
        .hotel-location
          i.fa.fa-map-marker(aria-hidden='true')
          p.d-inline-block.ml-3=hotel.location.address
      .col-md-4.my-2
        .d-flex.align-items-center
            .d-inline-block.badge.badge-primary.mr-3.hotel-preview-badge.p-3=hotel.ratingsAverage
            .d-inline-block
              .p.hotel-preview-text-1 Excellent
              a.hotel-preview-text-2(href=`#`)=`Based on ${hotel.ratingsQuantity} Guest Reviews` 
    .row.my-5
      each image in hotel.images
        .col-md-4.hotel-hero-img.my-2
          img.card-img-top(src=`/img/${image}`, alt=`${hotel.name}`)
 
    .row
      .col-md-8.hotel-detail
        h2.m-4.text-center.hotel-detail-heading='Amenities'.toUpperCase()
        .row.hotel-amenities
          each service in hotel.amenities
            .col-6.col-sm-4
              i.fa.fa-check-square-o(aria-hidden='true')
              p.d-inline-block.hotel-amenities-text=service
      .col-md-4.hotel-detail
        .hotel-detail-right
          h2.m-4.hotel-detail-heading=`About ${hotel.name}`.toUpperCase()
          p.m-3.hotel-detail-text=hotel.description
    
    .row.justify-content-center.my-5
      .col-md-6.my-3
        h2.m-4.mb-5.text-center.hotel-detail-heading='BOOK NOW'.toUpperCase()
        each suite in hotel.roomTypes
          +hotelBookinCard(suite)
          
    .row.testimonial
      .col-12.my-3
        h2.text-center REVIEWS
      each testimony in hotel.reviews.slice(0, 6)
        +reviews(testimony)
      
      -let total;
      each x,i in hotel.reviews
        -total=i+1
      .col-12.my-5.d-flex.flex-row-reverse
        a.align-self-end(href=`#`)=`${total > 6? 'see all reviews': ''}`
          


      

        

  
    

