extends base

block content
  .main-content
    .row
      .col-md-8.my-2
        h1.text-primary Hotel de spa and treat espaninessee
        .hotel-location
          i.fa.fa-map-marker(aria-hidden='true')
          p.d-inline-block.ml-3 no 20 chief smart obi street
      .col-md-4.my-2
        .d-flex.align-items-center
            .d-inline-block.badge.badge-primary.mr-3.hotel-preview-badge.p-3 4.5
            .d-inline-block
              .p.hotel-preview-text-1 Excellent
              a.hotel-preview-text-2(href=`#`) Based on 10 Guest Reviews
    .row.my-5
      .col-md-4.hotel-hero-img.my-2
        img.card-img-top(src='/img/hotel-2-cover.jpg', alt='`${hotel.name}`')
      .col-md-4.hotel-hero-img.my-2
        img.card-img-top(src=`/img/hotel-2-cover.jpg`, alt='`${hotel.name}`')
      .col-md-4.hotel-hero-img.my-2
        img.card-img-top(src=`/img/hotel-2-cover.jpg`, alt='`${hotel.name}`')
    .row
      .col-md-6.hotel-detail
        h2.m-4.text-center.hotel-detail-heading='Amenities'.toUpperCase()
        .row.hotel-amenities
          .col-6.col-sm-4
            i.fa.fa-check-square-o(aria-hidden='true')
            p.d-inline-block.hotel-amenities-text SECURITY
          .col-6.col-sm-4
            i.fa.fa-check-square-o(aria-hidden='true')
            p.d-inline-block.hotel-amenities-text SECURITY
          .col-6.col-sm-4
            i.fa.fa-check-square-o(aria-hidden='true')
            p.d-inline-block.hotel-amenities-text SECURITY
          .col-6.col-sm-4
            i.fa.fa-check-square-o(aria-hidden='true')
            p.d-inline-block.hotel-amenities-text SECURITY
          .col-6.col-sm-4
            i.fa.fa-check-square-o(aria-hidden='true')
            p.d-inline-block.hotel-amenities-text SECURITY
          .col-6.col-sm-4
            i.fa.fa-check-square-o(aria-hidden='true')
            p.d-inline-block.hotel-amenities-text SECURITY
          .col-6.col-sm-4
            i.fa.fa-check-square-o(aria-hidden='true')
            p.d-inline-block.hotel-amenities-text SECURITY
      .col-md-6.hotel-detail
        .hotel-detail-right
          h2.m-4.text-center.hotel-detail-heading='About Hotel de spa and treat'.toUpperCase()
          p.m-3.hotel-detail-text Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .row
      .col

  
    

